$button-color: #daddcb;
@import "~bulma/bulma.sass";
.home-listado-productos {
  background-color: #ffd8dd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal {
    .modal-card {
      height: 550px;
    }
  }

  .cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .precio{
    justify-content: flex-end;
  }

  .botonera {
    width: 100%;
    display: flex;

    .button {
      margin: 7px 10px 7px 10px;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
    }

    .editar-button, .comprar-button{
      border-color: #e297a6;
      background-color: #e297a6;
    }
  }

  .card-footer {
    height: 60px;
    align-items: center;
  }

  .card-content {
    padding: 0px;
    margin: 0px;
    .content-descripcion {
      padding: 5px;
      text-align: center;
    }

    .content{
      margin: 0px;
      height: 200px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    }
  }

  .card {
    width: 330px;
    margin: 15px;
    background-color: #fff1f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
  }
}
