$primary: #ffa5cd;

@import "~bulma/bulma.sass";

.modal {
  width: 100%;
  height: 100%;

  .modal-card-head {
    background-color: #fff1f8;
    
    .modal-card-title{
      margin: 0;
      font-size: 35px;
    }
  }

  .modal-card-body{
    p {
      margin: 0 0 5px 3px;
    }

    input, textarea {
      margin: 0 0 10px 0;
    }

    .titulo-producto{
      font-size: 28px;
    }

    .datos-pedido {
      margin: 15px;

      .input-cantidad {
        width: 80px;
        margin-bottom: 15px;
      }

      .input-tipo-chocolate {
        width: 230px;
        margin-bottom: 15px;
      }
      .subtitle {
        margin-bottom: 10px;
      }
    }
  }

  .modal-card-foot {
    display: flex;
    justify-content: space-between;
    background-color: #fff1f8;

    .button {
      color: white;
      background-color: #e297a6;
    }
  }
}

.radio-dulce-de-leche {
  width: 16px;
  height: 16px;
  margin: 10px;
}
