@import "~bulma/bulma.sass";

.navbar{
  width: 100%;
  background-color: #f1bac4 !important;

  .navbar-menu {
    display: flex;
    align-items: center;

    .admin-icon {
      margin: 0 10px;
    }
  }
}

.navbar-start {

  div {
    display: flex;
  }

  .categoria {
    color: black;
    margin: 15px;
  }

  a:hover {
    font-weight: bold;
    color: black;
  }
}



.navbar-brand {
  margin-left: 10px;
  img {
    height: 50px;
    width: 50px;
  }
}

.navbar-item {
  transition: background-color .2s
}
