@import "~bulma/bulma.sass";

.navbar{
  width: 100%;
  background: #ffbfe0;;
}

.navbar-start {
  a:hover {
    background: #e1a0c2;
    font-weight: bold;
    color: darkslategray;
  }
}

.navbar-brand {
  img {
    height: 50px;
    width: 50px;
  }
}

.navbar-item {
  transition: background-color .2s
}