.modal {
  width: 100%;
  height: 100%;

  .modal-card-head {
    .modal-card-title{
      font-size: 35px;
    }
  }

  .modal-card-body{
    .titulo-producto{
      font-size: 26px;
    }

    .datos-pedido {
      margin: 15px;

      .input-cantidad {
        width: 80px;
        margin-bottom: 15px;
      }

      .input-tipo-chocolate {
        width: 230px;
        margin-bottom: 15px;
      }
      .subtitle {
        margin-bottom: 10px;
      }
    }
  }

  .modal-card-foot {
    justify-content: flex-end;
  }
}