$input-border-color: black;
$primary: #ffa5cd;
$dropdown-content-arrow: black;
$info: black;
@import "~bulma/bulma.sass";

.index-pedidos-home {
  background-color: #ffd8dd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}