$input-border-color: black;
$primary: #ffa5cd;
$dropdown-content-arrow: black;
$info: black;
@import "~bulma/bulma.sass";

.index-pedidos-home {
  background-color: #ffd8dd;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-filtrado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:800px;

    .filtro-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .titulo {
        font-size: 18px;
        margin-bottom: 5px;
      }

      .filtros-fecha {
        display: flex;

        .filtro {
          margin-right: 10px;

          .react-datepicker-wrapper{
            .react-datepicker__input-container{
              input {
                height: 37px;
                border-radius: 4px;
              }
            }
          }

        }



        .etiqueta-filtro {
          margin-right: 5px;
        }
      }

      .filtro-nombre-cliente {
        height: 37px;
        width: 100%;
        border-radius: 3px;
        border: none;
        padding-left: 10px;
        font-size: inherit;
      }

      .filtro-estado-container {
        display: flex;
        flex-direction: column;

        label {
          margin-left: 10px;
        }
      }
    }
  }

  .row {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 800px;
    height: auto;
    margin: 20px;
    border-radius: 7px;
    border: 1.5px solid #ffa5cd;
    align-items: center;

    .separador {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;

      .line {
        margin: 15px 5px 15px 5px;
        width: 40%;
        border-bottom: 1px solid black;
      }

      .datos-cliente-texto {
        margin: 5px;
      }
    }

    .datos-contacto-cliente {
      width: 100%;

      p {
        padding: 10px 0 10px 15px;
        font-size: 20px;
      }

    }

    .datos-generales {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .nombre-y-estado {
        display: flex;
        align-items: center;
      }

      .nombre-y-boton {
        display: flex;
        align-items: center;

        a {
          margin-right: 15px;
          background-color: #ffa5cd;
          border-color: #ffa5cd;
        }
      }

      .nombre-cliente {
        font-size: 32px;
        padding: 15px;
        font-weight: bold;
      }

      .tipo-chocolate {
        padding: 15px;
        font-size: 20px;

        a {
          margin-right: 15px !important;
          background-color: #ffa5cd;
          border-color: #ffa5cd;
        }
      }
    }

    .pedido {
      font-size: 23px;
      padding: 15px;

    }
  }
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selector-estados {
    padding: 15px;
    width: 250px;
  }
}
