$primary: #ffa5cd;

@import "~bulma/bulma.sass";

.modal {
  width: 100%;
  height: 100%;

  .modal-card-head {
    .modal-card-title{
      margin: 0;
      font-size: 35px;
    }
  }

  .modal-card-body {
    p {
      margin: 0 0 5px 3px;
    }

    input, textarea {
      margin: 0 0 10px 0;
    }

    .titulo-producto {
      font-size: 28px;
    }
  }
}
