.modal-card-foot {
  display: flex;
  justify-content: space-between;
  background-color: #fff1f8;

  .boton-eliminar {
    border-color: #e297a6;
    background-color: #e297a6;
    color: white;
  }
}
