$card-background-color: #FCC7EB;

@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma/sass/components/card";
.home-page {
  background-color: #ffd8dd;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .pedido-o-carga {
    margin: 35px 0px 35px 35px;
    display: flex;
    flex-direction: column;
    border-width: 1.5px;
    border-radius: 8px;
    border-style: solid;
    border-color: #e297a6;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;

    svg {
      margin-bottom: 15px;
      color: #e297a6;
      height: 80px;
      width: 80px;
    }

    p {
      margin: 15px;
    }

    .button {
      border-color: #e297a6;
      background-color: #e297a6;
      color: white;
    }
  }

}